
html, body { height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body { background-color: rgb(91, 109, 117);}
header {
  color: rgb(185, 84, 84);
  font-size: 3rem;
  margin: 0;
}
body header {
  text-align: center;
  margin-top: 2rem;
}
body footer {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
body main {
    text-align: left;
    font-size: 1.25rem;
    color: rgb(195, 168, 105);
    margin: 1.5rem 0;
}
img{
    margin: 125px;
    margin-top: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: black;
}